<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083072308192-aauqi5j7mn3foeludkmt2g5cltq8d97m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083072308192-aauqi5j7mn3foeludkmt2g5cltq8d97m</string>
	<key>API_KEY</key>
	<string>AIzaSyCU_q1CIvZ-jw7YN1kMGJ24FkJAhwEmHi8</string>
	<key>GCM_SENDER_ID</key>
	<string>1083072308192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ljoukov.CheckMate</string>
	<key>PROJECT_ID</key>
	<string>pic2toon</string>
	<key>STORAGE_BUCKET</key>
	<string>pic2toon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083072308192:ios:c2f557447fbff3b3938185</string>
</dict>
</plist>