rules_version = '2';

service cloud.firestore {
	match /databases/{database}/documents {
    match /users/{userId}/toons/client {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
    match /spark/{userId}/client/{docId=**} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
  }
}